body {
  font-family: 'Maven Pro', sans-serif;
  min-height: 100%;
}

.main-container {
  min-height: 95vh;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

div .left-profile {
  min-height: 110vh;
  background-image: url(./docs/profile-bg.jpg);
  background-size: 50em;
  background-position: right;
  /* background-color: rgb(34, 34, 34);
  border-right: 1px solid lightcyan;
  border-bottom: 1px solid lightcyan; */
}

div .right-projects {
  min-height: 110vh;
  background-image: url(./docs/projects-bg.jpeg);
  background-repeat: no-repeat;
  background-size: 80em;
}

img.dp {
  animation: fade .8s linear;
  height: 40%;
  width: 40%;
}

fas fa-download {
  color: white;
}

.contact {
  border-radius: 20px;
  font-size: .8em;
}

.contact .icons {
  font-size: 1.5em;
  margin-right: .6em;
}

.contact a:link {
  color: lightgrey;
}

.contact li {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgrey;
  border: 0px;
}

.languages {
  font-size: 2.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.languages i:hover {
  text-shadow: 0 0 5px white;
}

.skills {
  font-weight: strong;
  color: white;
  text-shadow: 0 0 1em black;
}

.project-slides {
  max-width: 80%;
}

.project-title {
  color: white;
}

.full-name {
  color: white;
}

.carousel-caption {
  background-color: rgba(36, 36, 36, 0.75);
  border-radius: 15px;
}